.section_photos {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  /*outline: #1fa7ff 1px solid;*/
}

.instruction {
  color: rgb(0, 255, 0);
  font-family: inherit;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

@media screen and (max-width: 1250px) {
  .section_photos {
    flex-direction: column;
  }
}
