.screen {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 100px 0 200px;
    width: 100%;
}

.title {
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
}

.calc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0 0;
    padding: 0;
}

.input {
    width: 320px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px 0 20px 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: transparent;
}

.input:focus {
    outline: none;
    background-color: rgba(0, 0, 0, .1);
}

.input_label {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.calculations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 15px;
    margin: 80px 0 0 0;
    padding: 20px;
}

.calculations_wrapper {
    max-width: min-content;
    min-width: max-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-right: 1px solid black;
    margin: 0 20px 0 0;
}
.error_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 15px;
    margin: 80px 0 0 0;
    padding: 20px;
}

.calculations_wrapper:last-of-type {
    border: none;
    margin: 0;
}

.calculations_result {
    margin: 5px 10px;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
}

.parameters {
    font-size: 15px;
    line-height: 15px;
    padding: 0;
    margin: 0 0 5px 0;
    min-width: 250px;
}

.button {
    width: 220px;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: transparent;
    margin: 20px 0 0 0;
    outline: none;
}

.button:hover {
    background-color: rgba(0, 0, 0, .1);
    cursor: pointer;
}

.button:focus {
    background-color: rgba(0, 0, 0, .1);
    cursor: pointer;
}

@media (max-width: 720px) {
    .calculations {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        
    }
    .calculations_wrapper {
        max-width: 300px;
        border: none;
        border-bottom: 1px solid black;
        margin: 0 0 20px 0;
        padding: 0 0 20px 0;
    }

    .calculations_wrapper:last-of-type {
        border: none;
        margin: 0;
    }
}


@media (max-width: 500px) {
    .title {
        font-size: 30px;
        line-height: 30px;
    }
    .screen {
        padding: 50px 0 200px;
    }
}

@media (max-width: 400px) {
    .input {
        width: 300px;
    }
}
