.buttons_wrapper {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 5px;
    padding: 0;
    margin: 50px 0 0 0;
}

.button {
    font-family: 'Neue_machina';
    font-weight: 800;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background-color: rgb(153,255,0);
    color: black;
    margin: 0;
    padding: 6px 10px;
    cursor: pointer;
}

.button:hover {
    color: white;
    background-color: black;
}

.button:disabled {
    background-color: white;
    color: black;
    border: 1px solid black;
    opacity: .5;
    cursor: default;
}
.button:disabled:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    opacity: .5;
    cursor: default;
}

@media (max-width: 1250px) {
    .buttons_wrapper {
        align-items: flex-start;
    }
}