.screen {
    width: min-content;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
    justify-self: end;
    justify-content: end;
    grid-auto-rows: 540px;
    gap: 20px;
    overflow: hidden;
    width: 100%;
}

.link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    content-visibility: auto;
    contain-intrinsic-size: 315px 540px;
}

.screen_noProducts {
    padding: 200px 0;
    display: flex;
    justify-content: center
}

@media (max-width: 750px) {
    .screen_noProducts {
        padding: 150px 0;
    }
}