.textile_description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0 50px;
    box-sizing: border-box;
   
}

.desc_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.item_img {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 50px 0 0;
}

.text_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.description {
    margin: 0 50px 0 0;
    padding: 0 
}

.description:last-of-type {
    margin: 0;
}


 .title {
    margin: 0 50px 0 0;
    padding: 0;
}








@media (max-width: 600px) {

    .textile_description {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        margin: 0;
        padding: 0;
       
    }
   


    .desc_box {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .item_img {
        margin: 0;
    }

    .title {
        margin: 0;
    }

    .description {
        margin: 0;
    }

    .price {
        align-self: flex-end;
    }
}