.menu_container {
    width: 100%;
    max-width: 1560px;
    margin: 0 auto;
    padding: 0 30px;
    height: 50px;
    box-sizing: border-box;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_menu {
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.menu_elem {
    margin: 0;
    padding: 0;
}

.menu_link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: rgb(0, 255, 0);
    font-size: 16px;
    line-height: 20px;
}

.social_link {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    color: rgb(0, 255, 0) !important;
    font-size: 16px;
    line-height: 20px;
}

a {
    text-decoration: none !important;
    color: rgb(0, 255, 0) !important;  
}

.menu_link:hover {
    text-decoration: underline;
}

.social_link:hover {
    text-decoration: underline;
}

.socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

@media (max-width: 1180px) {
    .social_link {
        display: none;
        visibility: hidden;
    }
}
@media (max-width: 960px) {
    .menu_container {
        display: none;
        visibility: hidden;
    }
}
