@keyframes fadeOut {
    from {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

.container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
    animation: fadeOut 3s ease-in forwards;
}