.product_box {
  margin: 0 0 0 100px;
  padding: 200px 0 0;
  box-sizing: border-box;
  width: 450px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: visible;
}

.description {
  margin: 0;
  box-sizing: border-box;
  padding: 0 0 280px;
  display: flex;
  flex-direction: column;
  /* position: fixed; */
  position: sticky;
  top: 108px;
  left: auto;
  right: auto;
  max-width: 450px;
  width: inherit;
  /*height: 200px;*/
  /*outline: #d60080 1px solid;*/
}

.title_box {
  display: flex;
  min-height: 62px;
  flex-direction: row;
  justify-content: space-between;
  /*margin-bottom: 40px;*/
}

.title {
  margin: 0;
  padding: 0;
  max-width: 80%;
  font-weight: 800;
  font-size: 20px;
  line-height: 20.5px;
}

.text {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.box_link {
  margin: 45px 0;
  padding: 0;
  /*height: 100%;*/
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.menu_elem {
  margin: 0;
  padding: 0;
}

.menu_link {
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  border-bottom: 1px solid #000000;
}

.menu_link:hover {
  border-bottom: 1px solid #00ff00ff;
  color: #00ff00ff;
}

.select_label {
  font-size: 16px;
  line-height: 16.4px;
  font-weight: 400;
  text-align: left;
  padding: 0;
  margin: 0 0 13px 0;
}

.button_up {
  margin-top: 34px;
}

.button_down {
  margin-top: 10px;
}

@media screen and (max-width: 1480px) {
  .product_box {
    margin-left: 70px;
  }
}

@media screen and (max-width: 1400px) {
  .product_box {
    margin-left: 60px;
  }

  .description {
    max-width: 400px;
  }
}

@media screen and (max-width: 1250px) {
  .product_box {
    margin: 0 auto;
    padding-top: 10px;
    width: 100%;
  }
  .description {
    padding: 0 10px 100px;
    position: relative;
    top: 0;
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-weight: 800;
    font-size: 14px;
    line-height: 14.35px;
  }

  .menu_link {
    font-size: 12px;
    line-height: 12.3px;
    font-weight: 400;
  }

  .title_box {
    min-height: 38px;
  }

  .box_link {
    margin-bottom: 57px;
  }

  .text {
    font-size: 12px;
    line-height: 12.3px;
    font-weight: 400;
  }

  .select_label {
    font-size: 12px;
    line-height: 12.3px;
    font-weight: 400;
  }

  .select_label {
    margin-bottom: 17px;
  }

  .button_up {
    margin: 45px auto 0;
  }

  .button_down {
    margin: 10px auto 0;
  }
}
