.screen {
    width: 100%;
    margin: 120px 0 0 0;
    border: 1px solid black;
    padding: 8px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    box-sizing: border-box;
    overflow: hidden;

    @media (max-width: 700px) {
        grid-template-columns: 1fr;
    }
}

.screen_imgWrapper {
    width: 100%;
    height: 277px;
    overflow: hidden;
    border-radius: 20px;
    box-sizing: border-box;
}

.screen_imgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.screen_content {
    width: 100%;
    border-radius: 20px;
    background-color: #F3F4F3;
    padding: 32px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 10px;

    @media (max-width: 700px) {
        padding: 16px;
    }
}

.screen_content_title {
    font-family: 'Neue_machina';
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: black;
}

.screen_content_text {
    font-family: 'Neue_machina';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    color: black;
}

.screen_content_button {
    background-color: rgb(153,255,0);
    border: none;
    border-radius: 5px;
    color: black;
    font-family: 'Neue_machina';
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 800;
    padding: 6px 10px;
    cursor: pointer;
    width: min-content;
    white-space: nowrap;
}