.fourth_screen {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.gallery_img {
    width: calc(100% / 3);
}





.textStyle_italic {
    font-style: italic;
}

@media (max-width: 750px) {
    .gallery_img {
        width: calc(100% / 2);
    }
}