.screen {
    width: 100%;
    margin: 0;
    padding: 40px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    grid-template-rows: auto auto;
    grid-auto-flow: column dense;
    gap: 40px;
}

.gallery_card {
    min-width: 300px;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 400px;
}

.gallery_card:nth-of-type(2n) {
    height: 200px;
}

.gallery_card:last-of-type {
    height: 640px;
    grid-column: 3;
    grid-row: 1 / span 2;
}

.card_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-out;
}

.card_img:hover {
    cursor: pointer;
    transform: scale(110%);
}


.card_title {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    bottom: 20px;
    color: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}


.card_header {
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
}
