.block {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  margin: 0;
  flex-direction: row;
  width: 200px;
  height: 23px;
}

.text {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  width: 80px;
  padding: 7px 0 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 13px;
}

.span_size {
  /*padding-right: 10px;*/
  font-size: 16px;
  font-weight: 400;
  line-height: 13px;
}

.text_size {
  box-sizing: border-box;
  text-align: center;
  justify-content: flex-start;
  margin: 0;
  width: 27px;
  padding: 7px 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 13px;
  display: inline-flex;
}

.span_x {
  padding: 4px 10px 0 7px;
  display: inline-block;
  font-size: 0.8em;
}

.button_size {
  position: relative;
  width: 23px;
  height: 23px;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: end;
  box-sizing: border-box;
  border: none;
  font-weight: 100;
  cursor: pointer;
  font-size: 1.1em;
  color: #000000;
}

.button_size:hover {
  color: #00ff00;
}

.button_size:hover:disabled {
  color: #000000;
}

.minus {
  position: absolute;
  left: 24%;
  margin: 0;
  padding: 0;
  width: 12px;
  height: 1px;
  background-color: black;
}

.plus {
  box-sizing: border-box;
  position: absolute;
  top: 25%;
  left: 49%;
  margin: 0;
  padding: 0;
  width: 1px;
  height: 12px;
  background-color: #000000;
}

.block_wrap{
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 390px) {
  .block {
    width: 180px;
    height: 25.3px;
  }

  .span_size {
    padding-right: 3px;
  }

  .text_size {
    width: 25px;
    padding: 7px 3px 0 0;
  }
}
