@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
        width: 40px;
        height: 40px;
    }
}

.screen {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: 100px 200px;
    box-sizing: border-box;
    overflow: hidden;
}

.mockup_container {
    width: 500px;
    height: 496px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.loader {
    display: none;
}

.loader_active {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    width: 60px;
    height: 50px;
    margin-right: 20px;
    box-sizing: border-box;
}

.loader_icon {
    width: 30px;
    height: 30px;
    background-color: rgb(0, 255, 0);
    animation: rotation 1s ease-out infinite;
}

.mockup_img {
    width: 500px;
    object-fit: cover;
}

.controls_container {
    margin: 0 0 0 50px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 550px);
    height: 500px;
}

.tabs_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
    box-sizing: border-box;
    gap: 2px;
}

.tab {
    height: 40px;
    width: 100%;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px #000000 solid;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 16.4px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    font-family: inherit;
}

.active_tab {
    height: 40px;
    width: 100%;
    min-width: 100px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 255, 0);
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 16.4px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    font-family: inherit;
}

.tab:hover {
    background-color: rgba(0, 255, 0, 0.4);
    cursor: pointer;
}

.input_container {
    padding: 0;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.input_form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}

.file_input {
    display: none;
    background-color: #00FF00;
    width: 100%;
    height: 100%;
}

.input_wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    text-align: center;
    cursor: pointer;
}

.file_input_button_text {
    max-width: 230px;
    line-height: 16.4px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file_input_button {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px #000000 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 20px;
    margin: 0 auto;
}

.file_input_button:hover {
    background: #00FF00;
}

.print_delete_button {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px #000000 solid;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 20px;
    margin: 0 auto;
    margin-right: 20px;
    color: #000000;
}

.print_delete_button:hover {
    background-color: #00FF00;
}

.submit_button {
    width: 100%;
    max-width: 60px;
    height: 60px;
    border: none;
    border-radius: 15px;
    background-color: rgb(0, 255, 0);
    cursor: pointer;
    line-height: 16.4px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    margin: 0 0 0 5px;
    padding: 0;
}

.button_container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form_ai {
    position: absolute;
    top: 40%;
    left: 30%;
}

.form_input {
    background-color: #00FF00;
}

.form_button {
    background-color: #00FF00;
}

.form_ai_close {
    display: none;
}

.btn_img_control {
    width: 145px;
    display: flex;
    justify-content: space-between;
}

.button_container_cart {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.item_button {
    width: 200px;
    height: 40px;
    justify-content: flex-end;
    box-sizing: border-box;
    border: 1px #000000 solid;
    border-radius: 5px;
    background-color: #FFFFFF;
    font-family: inherit;
    line-height: 16.4px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    cursor: pointer;
    padding: 0;
    margin: 0;
    align-self: flex-end;
}

.item_button::after {
    content: 'В корзину >';
}

.item_button:hover {
    background-color: #00FF00;
}

.item_button_quest {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 1px #000000 solid;
    border-radius: 5px;
    background-color: #FFFFFF;
    font-family: inherit;
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    cursor: pointer;
    padding: 0;
    margin: 30px 0 0 0;
    align-self: flex-end;
}

.btn_svg {
    margin-top: 3px;
    color: #FFFFFF;
}
.btn_svg:hover {
    color: #00FF00;
}

.item_button_quest:hover {
    background-color: #00FF00;
}

.item_button_quest_active {
    background-color: #00FF00;
}

.item_button_quest:hover::after {
    /*content: '?>';*/
}

.instruction {
    color: rgb(0, 255, 0);
    font-family: inherit;
    font-size: 20px;
    line-height: 20px;
}

.error {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: rgb(0, 255, 0);
}

.order_info {
    margin: 30px 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.order_info_title {
    font-weight: 800;
    font-size: 20px;
    line-height: 20.4px;
    margin: 0 0 10px;
    padding: 0;
}

.order_info_title:last-of-type {
    margin-top: 30px;
}

.order_info_subtitle {
    padding: 0;
    margin: 0 0 30px;
}

.order_info_line {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.5px;
}

@media (max-width: 1400px) {
    .screen {
        padding: 100px 50px;
    }
}

@media (max-width: 1200px) {
    .screen {
        flex-direction: column;
        align-items: center;
    }
    .controls_container {
        margin: 50px 0 0 0;
        width: 100%;
        height: 500px;
    }

    .order_info {
        align-items: center;
    }

    .submit_button {
        width: 50%;
    }
    .tabs_container {
        width: 100%;
        box-sizing: border-box;
        justify-content: center;
    }
}

@media (max-width: 650px) {
    .tab {
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 12px;
        line-height: 12px;
        font-weight: 400;
    }

    .active_tab {
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 12px;
        line-height: 12px;
        font-weight: 400;
    }

    .item_button {
        font-size: 15px;
        line-height: 15px;
    }

    .item_button_quest {
        font-size: 15px;
        line-height: 15px;
    }

    .instruction {
        font-size: 15px;
        line-height: 15px;
    }

    .error {
        font-size: 15px;
        line-height: 15px;
    }

    .order_info {
        text-align: center;
    }

    .screen {
        padding: 100px 20px;
    }
}

@media (max-width: 600px) {
    .controls_container {
        margin-top: 30px;
    }

    .tab {
        min-width: 65px;
        height: 20px;
        line-height: 10.4px;
        font-size: 10px;
        border-radius: 3px;
    }
    .active_tab {
        min-width: 65px;
        height: 20px;
        line-height: 10.4px;
        font-size: 10px;
        border-radius: 3px;
    }

    .input_container {
        height: 30px;
        border-radius: 3px;
    }

    .btn_img_control {
        width: 110px;
    }

    .file_input_button_text {
        line-height: 10.4px;
        font-size: 10px;
    }

    .item_button_quest {
        margin-top: 15px;
        width: 30px;
        height: 30px;
    }

    .print_delete_button {
        width: 36px;
        height: 30px;
        padding: 0;
    }

    .order_info {
        align-items: flex-start;
        margin-bottom: 10px;
        width: 100%;
    }

    .order_info_title {
        line-height: 14.4px;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .order_info_title:last-of-type {
        align-self: flex-end;
    }

    .order_info_subtitle {
        width: 100%;
        line-height: 14.4px;
        font-size: 14px;
        margin-bottom: 10px;
        /*display: flex;*/
        justify-content: space-between;
    }

    .order_info_line {
        font-size: 14px;
        line-height: 14.4px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0 0 auto;

    }

    .order_info_line_span_title {
        text-align: start;
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
        width: 100%;
    }

    .order_info_line_span {
        display: flex;
        justify-content: space-between;
        text-align: start;
        white-space: nowrap;
        margin-bottom: 15px;
    }

    .order_info_line_span_end {
        align-self: flex-end;
    }

    .item_button {
        line-height: 10.4px;
        font-size: 10px;
        width: 120px;
        height: 30px;
        border-radius: 3px;
    }
}

@media (max-width: 370px) {
    .file_input_button_text {
        max-width: 150px;
    }
    /*.item_button {*/
    /*    width: 200px;*/
    /*}*/
}
