.tabs_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
    box-sizing: border-box;
    gap: 5px;
}

.tab {
    font-family: 'Neue_machina';
    font-size: 14px;
    line-height: 14px;
    font-weight: 800;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 6px 10px;
    min-width: 141px;
}

.active_tab {
    font-family: 'Neue_machina';
    font-size: 14px;
    line-height: 14px;
    font-weight: 800;
    background-color: rgb(153,255,0);
    border: 1px solid rgb(153,255,0);
    border-radius: 5px;
    text-transform: uppercase;
    padding: 6px 10px;
    min-width: 141px;
}

.tab:hover {
    background-color: rgb(153,255,0);
    border: 1px solid rgb(153,255,0);
    cursor: pointer;
}



@media (max-width: 1250px) {
    .tabs_container {
        justify-content: center;
    }
}
@media (max-width: 650px) {
    .tabs_container {
        flex-wrap: wrap;
    }
    .tab {
        width: calc(50% - 5px);
    }
    .active_tab {
        width: calc(50% - 5px);
    }
}