.block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    box-sizing: border-box;
}

.tabs {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(110px, 1fr)); */
    gap: 4px;
}

.tab {
    width: fit-content;
    box-sizing: border-box;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    color: black !important;
    background-color: transparent;
    padding: 6px !important;
    border: 1px solid black !important;
    white-space: nowrap;
    /* box-shadow: inset 0 -2px 0 1px lightgray; */
}

.tab:hover {
    background-color: rgb(153,255,0) !important;
}

.tab_active {
    background-color: rgb(153,255,0) !important;
    box-shadow: inset 0 -1px 0 1px black;
}