.screen {
    margin: 0;
    padding: 50px 200px;
    max-width: 1600px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.close_icon_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0;
    margin-bottom: 50px;
}

.shop_item_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
}

.gallery_wrapper {
    width: 40%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.gallery_image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.item_info_wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.item_title {
    margin: 0;
    padding: 0;
    width: 80%;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    text-align: right;
}

.item_description {
    margin: 50px 0 0 0;
    padding: 0;
    width: 80%;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-align: right;
}

.item_price {
    
    margin: 50px 0 0 0;
    padding: 0;
    width: 80%;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    text-align: right;
    
}

.close_icon {
    width: 36px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.item_info_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    box-sizing: border-box;
}

.item_button {
    width: 300px;
    height: 40px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: transparent;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    cursor: pointer;
    padding: 0;
    margin: 0 0 20px 0;
}

.item_button_wrapper {
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    box-sizing: border-box;
    justify-self: flex-end;
}


.item_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0px;
    margin: 50px 0 0 0;
}

.select_label {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-align: right;
    padding: 0;
    margin: 0 0 5px 0;
}

.form_select {
    width: 140px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

.size_chart_link {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-align: right;
    padding: 0;
    margin: 5px 0;
    color: black;
    text-decoration: underline;
}



/* SWIPER */



.swiper {
    width: 50%;
    height: 100%;
  }
  
  .swiper_slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper_slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* END SWIPER */



@media (max-width: 1200px) {
    .screen {
     
        padding: 100px 20px;
    }
}

@media (max-width: 750px) {
    .shop_item_wrapper {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .gallery_wrapper {
        width: 100%;
        height: 500px;
    }

    .gallery_image {
        width: 100%;
        height: 500px;
    }

    .item_info_wrapper {
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .item_info_block {

        padding: 50px 0;
    }

    .item_button_wrapper {
        align-self: flex-end;
    }
    


}

