.popup_container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0 , 0, .7);
    backdrop-filter: blur(5px);
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lead_form {
    width: 100%;
    max-width: 500px;
    position: relative;
    background-color: transparent;
    border: 2px solid rgb(0,255,0);
    border-radius: 15px;
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.close_button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: rgb(0,255,0);
    cursor: pointer;
}

.title {
    color: rgb(0,255,0);
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

.description {
    color: rgb(0,255,0);
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

.input_label {
    color: rgb(0,255,0);
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.input {
    width: 100%;
    height: 30px;
    padding: 0 5px;
    margin-bottom: 30px;
    box-sizing: border-box;
    color: rgb(0,255,0);
    font-family: inherit;
    background-color: transparent;
    border: 2px solid rgb(0,255,0);
    border-radius: 5px;
    outline: transparent;
}

.input:focus {
    outline: 1px solid rgb(0,255,0);
}

.submit_button {
    background-color: transparent;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid rgb(0,255,0);
    color: rgb(0,255,0);
    font-family: inherit;
    align-self: center;
    margin-top: 30px;
}


.submit_button:hover {
    cursor: pointer;
    background-color: rgb(0,255,0);
}

@media (max-width: 550px) {
    .lead_form {
        max-width: calc(100% - 20px);
        padding: 50px 30px;
    }
}
@media (max-width: 350px) {
    .title {
        font-size: 1.5em;
    }
}

