.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    min-width: 300px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.no_stock_icon {
    width: 130px;
    height: 30px;
    position: absolute;
    left: 20px;
    bottom: 130px;
    background-color: red;
    border-radius: 15px;
    color: white;
    font-family: inherit;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card_image {
    object-fit: cover;
    width: 100%;
}

.card_caption {
    width: 100%;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.card_title {
    margin: 0 20px 0 0;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
}

.card_price {
    margin: 20px 20px 0 0;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
}