.page {
    width: 1000px;
    height: 100vh;
    background-color: white;
    padding: 150px 0;
    margin: auto;
    position: relative;
}

.stage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383838;
    border: 1px solid #383838;
    position: relative;
}

.main_layer {
    border: 1px solid white;
    background-color: white;
}

.container {
    position: relative;
    box-sizing: border-box;
    width: 1000px;
    height: 500px;
}

.menu_active {
    background-color: rgba(0,0,0, .2);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
}

.menu_disabled {
    visibility: hidden;
}
.logo {
    width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
}
.button {
    width: 150px;
    height: 40px;
    border: 1px solid rgb(0,255,0);
    border-radius: 8px;
    color: rgb(0,255,0);
    background-color: transparent;
    cursor: pointer;
}

.score {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: rgb(0,255,0);
    position: absolute;
    top: 20px;
    right: 20px;
}

.final_score {
    color: rgb(0,255,0);
    font-size: 14px;
    margin: 0;
    padding: 0;
}