@import url(../vendors/fonts/font.css);

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: white;
  color: black;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: 'Neue_machina', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

* {
  font-family: 'Neue_machina', Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1310px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}
.roistat-online-chat-holder {
  display: none;
}
.breadcrumbs{
  margin: 30px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  font-size: 18px;
  align-items: center;
}
.breadcrumb-item{
  display: flex;
  gap: 16px;
  align-items: center;
  color: black;
  text-decoration: none;
}
.breadcrumb-item:not(:last-child):after{
  content: '';
  width: 8px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  border-radius: 2px;
  background: #99FF00;
}
@media (max-width: 1350px) {
  main {
    box-sizing: initial;
    margin: 0 20px;
  }
}
