.wrap {
  margin: 0 30px 30px 30px;
}

.wrap_title {
  font-size: 40px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  font-size: 40px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  margin: 100px 0 100px 0;
}

.wrap_subTitle {
  font-style: italic;
}

.body {
  padding-top: 35px;
  border-top: 1px solid #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form_wrapper {
  width: 50vw;
}

.user_form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0;
  box-sizing: border-box;
  border-radius: 20px;
}

.input_label {
  display: flex;
  flex-direction: column;
  padding-bottom: 7px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}


.user_form_input {
  font-size: 12px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 7px;
  margin-bottom: 15px;
  border: 1px solid #000000;
  padding: 8px;
  border-radius: 5px;
  /* width: 73%; */
}

.user_form_input:last-child {
  margin-bottom: 0;
}

.user_form_label{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.button_wrapper {
  margin-left: 20px;
  text-align: right;
}

.button_wrapper__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
}

.button_wrapper__textPrice {
  margin-top: 20px;
}

.button_wrapper__textShip {
  padding-top: 5px;
}

.button_wrapper__textPrePrice {
  font-size: 20px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0em;
  padding: 15px 0 25px;
}

.button_wrapperPromo {
  margin-bottom: 15px;
}

.promo_form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.promo_input,
.promo_submit {
  border: 1px solid #000000;
  padding: 8px;
  border-radius: 5px;
}

.promo_input {
  width: 200px;
}

.promo_submit {
  background-color: transparent;
  font-family: initial;
  margin-left: 18px;
  padding: 8px 12px;
  cursor: pointer;
  transition: 0.5s all;
  -webkit-text-fill-color: #000000;
  color: #000000;
}

.promo_submit:hover{
  background-color: #00ff00;
  transition: 0.5s all;
}

.promocode_cancellation {
  background-color: transparent;
  border: none;
  text-align: right;
  font-family: inherit;
  margin: 10px 0;
  padding: 0;
  cursor: pointer;
  padding-bottom: 1px;
  border-bottom: 1px solid black;
  -webkit-text-fill-color: #000000;
  color: #000000;
}

.control_button {
  width: 267px;
  height: 40px;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: inherit;
  font-weight: 400;
  line-height: 20px;
  transition: 0.5s all;
  -webkit-text-fill-color: #000000;
  color: #000000;
}

.control_button::after {
  content: 'Оплатить';
}

.control_button:hover {
  transition: 0.5s all;
  color: black;
  background-color: #00ff00;
}


.cities_wrap {
  background-color: #fff;
  margin-top: 5px;
  width: 75%;
  border-radius: 5px;
  min-height: 53px;
  border: 1px solid black;
  align-self: flex-end;
}
.inputShippingWrap_label2{
  display: flex;
  flex-direction: row;  
  justify-content: space-between;  
}

.inputShippingWrap_label_notVisible{
  visibility: hidden;
}
.cities_list {
  list-style: none;
  padding-left: 5px;
}

.cities_listItem {
  width: 99%;
  cursor: pointer;
  padding-bottom: 3px;
  transition: 0.5s;
}

.cities_listItem:hover {
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.1);
}

.user_radioWrap {
  display: flex;
  flex-direction: row;
}

.shippingPrice {
  margin-top: 80px;
}

.user_radioWrap {
  margin: 30px 0;
}

.user_radioWrapper,
input,
label {
  cursor: pointer;
}

.user_radioWrapper:first-child {
  margin-right: 40px;
}

.inputShippingWrap {
  display: flex;
  align-items: center;
  width: 100%;

}

.inputShippingWrap:first-child {
  margin-bottom: 30px;
  border: 1px solid red;
}

.inputShippingWrap>label {
  flex: 1;
  text-align: left;
}

.inputShippingWrap>label>input {
  flex: 3;
  /* margin-left: 20px; */
  max-width: 73%;
}

.shippingSelectWrap {
  display: flex;
  align-items: center;
}

.shippingSelectWrap>p {
  margin: 0;
  min-height: 44px;
  width: 33%
}

.inputShippingWrap_label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between
}

.user_form_inputError {
  border: 1px solid red;
}

.user_form_input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.user_form_inputError:focus {
  border: 1px solid red;
  outline: none;
}
.popupBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-self: center;
}

.validation_message {
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: rgb(0, 255, 0);
}

.popupBlock_message {
  padding-top: 30px;
}

.user_radioWrapper>input{
  accent-color: #000;
}
@media(max-width:651px) {
  .wrap_title {
    margin: 70px 0 50px 0;
  }

  .wrap_title {
    font-size: 20px;
  }

  .body {
    flex-direction: column;
    align-items: center;
  }

  .user_deliveryForm {

    border-top: 1px solid #000;

    border-bottom: 1px solid #000;
    margin-top: 25px;
    padding-bottom: 25px;
    border-radius: 0;
  }

  .inputShippingWrap {
    margin-top: 25px;
    border-radius: 0;
    width: 100%;
  }

  .form_wrapper {
    width: 100%;
  }

  .user_radioWrap {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  .inputShippingWrap,
  .shippingSelectWrap {
    flex-direction: column;
    align-items: stretch;
  }

  .cities_wrap,
  .shippingSelectWrap>p {
    width: 100%;
  }

  .shippingSelectWrap {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
  }

  .inputShippingWrap>label {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
  }

  .shippingPrice {
    margin-top: 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
  }

  .button_wrapper {
    text-align: left;
    margin: 0;
    width: 100%;
  }

  .promo_input,
  .control_button {
    width: 100%;
  }

  .input_label {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
  }


  .user_radioWrapper>label {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
  }

  .user_radioWrapper {
    display: flex;
    align-items: center;
  }

  .user_radioWrapper:first-child {
    padding-bottom: 5px;
  }

  .button_wrapper__textPrice,
  .button_wrapper__textShip,
  .promo_input,
  .promocode_cancellation,
  .promocode_message,
  .promocode_cancellation,
  .control_button {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
  }

  .button_wrapper__textPrePrice{
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    }

    .inputShippingWrap_label {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
      width:100%;
    }

    .inputShippingWrap>label>input {
      margin-left: 0;
      max-width:100%;
    }

    .inputShippingWrap_label_notVisible{
      display: none;
    }
}

@media(max-width: 550px) {
  .wrap_title {
    width: 181px;
    margin: 15px 0 60px 0;
    line-height: 20.5px;
  }
}