.screen {
    margin: 0;
    padding: 100px 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.cart_title_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 50px;
}


.cart_title {
    margin: 0;
    padding: 0;
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
}


.goback_button {
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    cursor: pointer;
}




.cart_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    box-sizing: border-box;
    padding: 50px 100px;
    border: 1px solid rgb(0,255,0);
    /*box-shadow: 0 0 10px rgba(0, 0, 0, .1);*/
    border-radius: 20px;
}


.cart_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    margin-bottom: 25px;
    padding: 25px;   
    border-bottom: 1px solid rgb(0,255,0);
    position: relative;
}

.delete_item_from_cart {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid rgb(0,255,0);
    border-radius: 8px;
    margin: 0;
    padding: 0;
    color: rgb(0,255,0);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete_item_from_cart:hover {
    background-color: rgb(0,255,0);
    color: white;
}

.cart_item:last-of-type {
    border: none;
    margin: 0;
}


.textile_description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0 10px 0;
    box-sizing: border-box;
   
}

.desc_box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}



.item_img {
    height: 100px;
    width: auto;
    min-width: 100px;
    border: none;
    border-radius: 50px;
    object-fit: cover;
    margin: 0 50px 0 0;
}

.qty_input_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.qty_input {
    width: 34px;
    height: 24px;
    padding: 0;
    margin: 0 5px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

.price {
    font-weight: 600;
}


.text_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% - 50px);
}

.title {
    margin: 0 50px 0 0;
    padding: 0;
}

.description {
   margin: 0 50px 0 0;
   padding: 0 
}

.description:last-of-type {
    margin: 0;
}


.checkout_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
    gap: 50px;
    box-sizing: border-box;
}




.total_price {
    margin: 0 0 50px 0;
    text-align: right;
    font-size: 30px;
    font-weight: 600;
}

.total_price:last-of-type {
    margin-bottom: 30px;
}

.cart_controls {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0;
    padding: 0;
}
.promo_form {
    width: 220px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.promo_submit {
    width: 36px;
    min-width: 36px;
    height: 36px;
    border-radius: 5px;
    background-color: rgb(0,255,0);
    border: none;
    color: white;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 2px;
}

.promo_input {
    width: 100%;
    height: 36px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 0px 20px;
    box-sizing: border-box;
   
}

.promo_input:focus {
    outline: 1px solid black;
}


.promocode_wrapper {
    width: 220px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.promocode_message {
    text-align: right;
    margin: 0;
    padding: 0;
}

.promocode_cancellation {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    text-align: right;
    font-family: inherit;
    margin: 10px 0;
    padding: 0;
    cursor: pointer;
}

.control_button {
    width: 220px;
    height: 50px;
    border: none;
    background-color: rgb(0,255,0);
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    border-radius: 10px;
    margin: 0 0 10px 0;
    cursor: pointer;
    font-size: 20px;
    font-family: inherit;
    font-weight: 600;
    color: white;
    line-height: 20px;
}

.control_button::after {
    content: 'Оформить'
}

.control_button:hover {
   
    transform: translateY(-5px);
    transition: transform .15s ease-out;
}

.control_button:hover::after {
    content: '$$$';
}



.validation_message {
    width: 250px;
    text-align: right;
    font-size: 15px;
    margin: 0;
    padding: 0;
    font-weight: 400;
}



.user_form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    margin: 0;
    padding: 70px 75px;
    box-sizing: border-box;
    background-color: rgba(0,0,0, .1);
    border-radius: 20px;
}


.input_label {
    padding: 0;
    margin: 0 0 5px 0;
}

.user_form_input {
    width: 100%;
    height: 36px;
    margin: 0;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 5px;
    box-sizing: border-box;
    border: 1px solid transparent;
}



.user_form_input:focus {
    outline: 1px solid rgba(0,0,0, .3);
    border: 1px solid rgba(0,0,0, .3);
}

.input_control_button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: black;
    cursor: pointer;
}

.input_control_button:first-of-type {
    margin-left: 20px;
}


.payment_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 0;

}

.payment_logo_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
}

.payment_logo {
    width: 100px;

}

.shipping_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    margin: 0 auto;
    padding: 100px;
    border: 1px solid rgb(0,255,0);
    border-radius: 20px;
    box-sizing: border-box;

}

.shipping_heading {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    padding: 0;
    margin: 0;
}

.shipping_description {
    font-size: 15px;
    line-height: 20px;
    text-align: right;
    margin: 50px 0 0 0;
    padding: 0;
}




@media (max-width: 1250px) {
    .cart_item {
        width: 100%;
    }

    .screen {
        padding: 100px 100px;
       
    }
}

@media (max-width: 910px) {
    .user_form {
        padding: 25px 50px;

    }
    .cart_container {
        padding: 25px;
    }

    .screen {
        padding: 100px 20px;
    }

}

@media (max-width: 800px) {

    .total_price {
        font-size: 20px;
        line-height: 20px;
    }

    .control_button {
        width: 180px;
        font-size: 15px;
        line-height: 15px;
    }

    .validation_message {
        font-size: 10px;
    }
    .promo_form {
        width: 180px;
    }

}

@media (max-width: 700px) {
    
    .screen {
        padding: 100px 20px;
       
    }

    .cart_item {
        padding: 25px 0;
    }



    
}

@media (max-width: 600px) {

    .promocode_wrapper {
        align-items: center;
    }

    .promocode_message {
        text-align: center;
    }

    .shipping_info {
        padding: 50px;
    }

    .textile_description {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        align-items: flex-start;
        gap: 30px;
       
    }

    .desc_box {
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }
    
  

    .cart_title {

        font-size: 20px;
        line-height: 20px;
        font-weight: 600;
    }

    .goback_button {
       
        font-size: 10px;
        line-height: 10px;
    }

    .title {
        margin: 0;
        margin-bottom: 15px;
        font-size: 15px;
        line-height: 15px;
    }

    .description {
        font-size: 10px;
        line-height: 10px;
    }

    .text_wrapper {
        align-items: flex-start;
    }

    .qty_input {
        width: 25px;
        height: 20px;
    }

    .input_control_button {
        font-size: 10px;
    }

    .price {
        font-size: 15px;
    }

    .item_img {
        margin: 0 20px 0 0;
        height: 75px;
        width: auto;
        min-width: 75px;
    }

    .cart_item {
        width: 100%;
        padding: 50px 0 25px 0;
    
    }

    .price {
        align-self: flex-end;
    }

    .checkout_container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .user_form {
        width: 100%;
    }

    .cart_controls {
        width: 100%;
        align-items: center;
    }

    .validation_message {
        text-align: center;
    }


}


@media (max-width: 400px) {
    .user_form {
        padding: 35px 25px;
    }
}