.screen {
    margin: 0;
    padding: 100px 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.cart_title_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 50px;
}

.cart_title {
    margin: 0;
    padding: 0;
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
}

.goback_button {
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    cursor: pointer;
    -webkit-text-fill-color: #000000;
    color: #000000;
}

.cart_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    box-sizing: border-box;
    padding: 50px 100px;
    border: 1px solid rgb(0, 255, 0);
    /*box-shadow: 0 0 10px rgba(0, 0, 0, .1);*/
    border-radius: 20px;
}

.cart_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 25px;
    padding: 25px 25px;
    border-bottom: 1px solid rgb(0, 255, 0);
    position: relative;
}

.delete_item_from_cart {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid rgb(0, 255, 0);
    border-radius: 8px;
    margin: 0;
    padding: 0;
    color: rgb(0, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete_item_from_cart:hover {
    background-color: rgb(0, 255, 0);
    color: white;
}

.cart_item:last-of-type {
    border: none;
    margin: 0;
}

.textile_description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0 10px 0;
    box-sizing: border-box;
}

.desc_box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.item_img {
    box-sizing: border-box;
    height: 100px;
    width: auto;
    min-width: 100px;
    border: none;
    border-radius: 50px;
    object-fit: cover;
    margin: 0 50px 0 0;
}

.qty_input_wrapper {
    display: flex;
    padding: 0 5px 0 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.qty_input {
    width: 34px;
    height: 24px;
    padding: 0;
    margin: 0 5px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

.price {
    font-weight: 600;
}

.text_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 50px);
}

.title {
    margin: 0 50px 0 0;
    padding: 0 0 25px;
}

.description {
    margin: 0 50px 0 0;
    padding: 0;
}

.description:last-of-type {
    margin: 0;
}

.checkout_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
    gap: 50px;
    box-sizing: border-box;
}

.total_price {
    margin: 0 0 50px 0;
    text-align: right;
    font-size: 30px;
    font-weight: 600;
}

.total_price:last-of-type {
    margin-bottom: 30px;
}

.cart_controls {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0;
    padding: 0;
}

.promo_form {
    width: 220px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.promo_submit {
    width: 36px;
    min-width: 36px;
    height: 36px;
    border-radius: 5px;
    background-color: rgb(0, 255, 0);
    border: none;
    color: white;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 2px;
}

.promo_input {
    width: 100%;
    height: 36px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 0px 20px;
    box-sizing: border-box;
}

.promo_input:focus {
    outline: 1px solid black;
}

.promocode_wrapper {
    width: 220px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.promocode_message {
    text-align: right;
    margin: 0;
    padding: 0;
}

.promocode_cancellation {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    text-align: right;
    font-family: inherit;
    margin: 10px 0;
    padding: 0;
    cursor: pointer;
}

.control_button {
    width: 220px;
    height: 50px;
    border: none;
    background-color: rgb(0, 255, 0);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0 0 10px 0;
    cursor: pointer;
    font-size: 20px;
    font-family: inherit;
    font-weight: 600;
    color: white;
    line-height: 20px;
}

.control_button::after {
    content: 'Оформить';
}

.control_button:hover {
    transform: translateY(-5px);
    transition: transform 0.15s ease-out;
    color: black;
}

.control_button:hover::after {
    content: 'Оформить > $';
}

.popupBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-self: center;
}

.validation_message {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: rgb(0, 255, 0);
}

.popupBlock_message {
    padding-top: 30px;
}

.instruction {
    color: rgb(0, 255, 0);
    font-family: inherit;
    font-size: 20px;
    line-height: 20px;
    margin: 20px 0;
    text-align: center;
}

.user_form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 70px 75px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.input_label {
    padding: 0;
    margin: 0 0 5px 0;
}

.user_form_input {
    width: 100%;
    height: 36px;
    margin: 0;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 5px;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.user_form_inputError {
    border: 1px solid red;
}

.user_form_input:focus {
    outline: 1px solid rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.user_form_inputError:focus {
    border: 1px solid red;
    outline: none;
}

.input_control_button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: black;
    cursor: pointer;
}

.input_control_button:first-of-type {
    margin-left: 20px;
}

.payment_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.payment_logo_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
}

.payment_logo {
    width: 100px;
}

.shipping_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    margin: 0 auto;
    padding: 100px;
    border: 1px solid rgb(0, 255, 0);
    border-radius: 20px;
    box-sizing: border-box;
}

.shipping_heading {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    padding: 0;
    margin: 0;
}

.shipping_description {
    font-size: 15px;
    line-height: 20px;
    text-align: right;
    margin: 50px 0 0 0;
    padding: 0;
}

.form_wrapper {
    width: 70%;
}

.user_deliveryForm {
    margin-top: 50px;
}

.user_radioWrapper {
    padding-bottom: 20px;
}

.user_radioWrapper:last-child {
    padding-bottom: 0;
}

.cities_wrap {
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    min-height: 53px;
}

.cities_list {
    list-style: none;
    padding-left: 5px;
}

.cities_listItem {
    width: 99%;
    cursor: pointer;
    padding-bottom: 3px;
    transition: 0.5s;
}

.cities_listItem:hover {
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.1);
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='radio'] {
        --active: #00ff00;
        --active-inner: #00ff00;
        --border: #bbc1e1;
        --border-hover: #00ff00;
        --background: #fff;
        --disabled: #f6f8ff;
        --disabled-inner: #e1e6f9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        /* border: 1px solid var(--bc, var(--border)); */
        background: var(--b, var(--background));
        transition:
            background 0.3s,
            border-color 0.3s,
            box-shadow 0.2s;
    }

    input[type='radio']:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition:
            transform var(--d-t, 0.3s) var(--d-t-e, ease),
            opacity var(--d-o, 0.2s);
    }

    input[type='radio']:checked {
        --b: #fff;
        --bc: #fff;
        --d-o: 0.3s;
        --d-t: 0.6s;
        --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }

    input[type='radio']:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: 0.9;
    }

    input[type='radio']:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
    }

    input[type='radio']:disabled + label {
        cursor: not-allowed;
    }

    input[type='radio']:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }

    input[type='radio']:focus {
        box-shadow: 0 0 0 var(--focus);
    }

    input[type='radio']:not(.switch) {
        width: 21px;
    }

    input[type='radio']:not(.switch):after {
        opacity: var(--o, 0);
    }

    input[type='radio']:not(.switch):checked {
        --o: 1;
    }

    input[type='radio'] + label {
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
    }

    input[type='radio'] {
        border-radius: 50%;
    }

    input[type='radio']:after {
        width: 29px;
        height: 29px;
        top: -4px;
        left: -3.9px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        transform: scale(var(--s, 0.7));
    }

    input[type='radio']:checked {
        --s: 0.5;
    }
}

@media (max-width: 1250px) {
    .cart_item {
        width: 100%;
    }

    .screen {
        padding: 100px 100px;
    }
}

@media (max-width: 910px) {
    .user_form {
        padding: 25px 50px;
    }

    .cart_container {
        padding: 25px;
    }

    .screen {
        padding: 100px 20px;
    }
}

@media (max-width: 800px) {
    .total_price {
        font-size: 20px;
        line-height: 20px;
    }

    .control_button {
        width: 180px;
        font-size: 15px;
        line-height: 15px;
    }

    .validation_message {
        font-size: 10px;
    }

    .promo_form {
        width: 180px;
    }
}

@media (max-width: 700px) {
    .screen {
        padding: 100px 20px;
    }

    .cart_item {
        padding: 25px 0;
    }
}

@media (max-width: 600px) {
    .promocode_wrapper {
        align-items: center;
    }

    .promocode_message {
        text-align: center;
    }

    .shipping_info {
        padding: 50px;
    }

    .textile_description {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        align-items: flex-start;
        gap: 30px;
    }

    .desc_box {
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }

    .cart_title {
        font-size: 20px;
        line-height: 20px;
        font-weight: 600;
    }

    .goback_button {
        font-size: 10px;
        line-height: 10px;
    }

    .title {
        margin: 0;
        margin-bottom: 15px;
        font-size: 15px;
        line-height: 15px;
    }

    .description {
        font-size: 10px;
        line-height: 10px;
    }

    .text_wrapper {
        align-items: flex-end;
    }

    .qty_input {
        width: 25px;
        height: 20px;
    }

    .input_control_button {
        font-size: 10px;
    }

    .price {
        font-size: 15px;
    }

    .item_img {
        margin: 0 10px 0 0;
        height: 75px;
        width: auto;
        min-width: 75px;
    }

    .cart_item {
        width: 100%;
        padding: 50px 0 25px 0;
    }

    .price {
        align-self: flex-end;
    }

    .checkout_container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    /* .user_form {
        width: 100%;
    } */
    .form_wrapper {
        width: 100%;
    }

    .cart_controls {
        width: 100%;
        align-items: center;
    }

    .validation_message {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .cities_list {
        font-size: 14px;
    }
}

@media (max-width: 440px) {
    .cities_list {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .user_form {
        padding: 35px 25px;
    }
}

@media (max-width: 350px) {
    .cities_list {
        font-size: 11px;
    }
}
