.dropdown_container {
    text-align: left;
    position: relative;
    padding: 7.2px;
    font-size: 14px;
    background-color: #ffffff;
    margin-bottom: 25px;
    border-radius: 5px;
    border: 1px solid #000000;
    cursor: pointer;
}

.dropdown_container_error {
    border: 1px solid red;
}

.dropdown_item_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.dropdown_menu {
    position: absolute;
    transform: translateX(-9px) translateY(18px);
    width: 97.8%;
    overflow: auto;
    max-height: 150px;
    background-color: #ffffff;
    z-index: 99;
    padding: 5px;
    margin-left: 1px;
    border-radius: 5px;
    border: 1px solid #000000;
}

.dropdown_item {
    padding: 5px;
    cursor: pointer;
    margin-left: 3px;
    transition: 0.5s;
}

.dropdown_item:hover {
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.1);
}

.dropdown_item.selected {
    color: #ffffff;
}

/* .dropdown_selected_value {
	display: flex;
	flex-direction: row;
} */

/* .dropdown_tools {
    background-image: url(../images/icons/select-row.svg);
    width: 14px;
    height: 7px;
} */

.dropdown_menu::-webkit-scrollbar {
    width: 12px;
    /* ширина scrollbar */
}

.dropdown_menu::-webkit-scrollbar-track {
    background: #ffffff;
    /* цвет дорожки */
}

.dropdown_menu::-webkit-scrollbar-thumb {
    background-color: #000000;
    /* цвет плашки */
    border-radius: 10px;
    /* закругления плашки */
    /*border: 1px solid #FFFFFF;   padding вокруг плашки*/
}

.dropdown_item_wrapper {
    display: flex;
}

.test {
    width: 100%;
}


@media (max-width: 760px) {
    .dropdown_menu {
        width: 97%;
    }
}

@media (max-width: 680px) {
    .dropdown_menu {
        width: 96.7%;
    }
}

@media (max-width: 651px) {
    .dropdown_menu {
        width: 98.3%;
    }

    .dropdown_container {
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0em;
        text-align: left;
    }
}

@media (max-width: 480px) {
    .dropdown_menu {
        width: 97.4%;
    }
}

@media (max-width: 450px) {
    .dropdown_menu {
        width: 96.7%;
        font-size: 14px;
    }

    .dropdown_selected_value {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .dropdown_menu {
        width: 96%;
    }
}