.dropdown_container {
	width: 94%;
	text-align: left;
	position: relative;
	padding: 12px;
	background-color: #FFFFFF;
	margin-bottom: 25px;
	border-radius: 5px;
}

.dropdown_input {
	display: flex;
	align-items: center;
	justify-content: space-between;
	user-select: none;
}

.dropdown_menu {
	position: absolute;
	transform: translateX(-13px) translateY(98px);
	width: 97%;
	overflow: auto;
	max-height: 150px;
	background-color: #FFFFFF;
	z-index: 99;
	padding: 5px;
	margin-left: 1px;
	border-radius: 0 0 10px 10px;
}

.dropdown_item {
	padding: 5px;
	cursor: pointer;
	margin-left: 3px;
}



.dropdown_item.selected {
	color: #FFFFFF;
}

.dropdown_selected_value {
	display: flex;
	flex-direction: row;
}

.dropdown_tools {
	background-image: url(../images/icons/select-row.svg);
	width: 14px;
	height: 7px;
}

.dropdown_menu::-webkit-scrollbar {
  width: 12px;              /* ширина scrollbar */
}

.dropdown_menu::-webkit-scrollbar-track {
	width:24px;
  background: #FFFFFF;        /* цвет дорожки */
}
.dropdown_menu::-webkit-scrollbar-thumb {
  background-color: #00FF00;    /* цвет плашки */
  border-radius: 10px;       /* закругления плашки */
  /*border: 1px solid #FFFFFF;   padding вокруг плашки*/
}


