.footer {
    display: grid;
    padding: 50px 200px;
    justify-items: center;
    grid-template-columns: 34% 28% 30% 8%;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: row dense;
    row-gap: 50px;
    box-sizing: border-box;
}

.footer_link {
    justify-self: start;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.footer_link:hover {
    cursor: pointer;
    color: lightgray;
}

.list {
    justify-self: start;
    margin: 0;
    padding: 0;
    list-style: none;
}

.item {
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: black;
}

.item:hover {
    cursor: pointer;
    color: lightgray;
}

@media (max-width: 1100px) {
    .footer {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 50px 50px 200px 50px;
    }

    .footer_link {
        font-size: 20px;
        line-height: 20px;
        font-weight: bold;
        text-decoration: none;
        color: black;
        margin: 0 0 15px 0;
    }
    .list {
        padding-top: 80px;
    }
}
