.screen {
    width: 100%;
    margin: 120px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    box-sizing: border-box;
}

.screen_title {
    max-width: 632px;
    font-family: 'DrukTextWideCyr-Medium';
    font-size: 46px;
    line-height: 48px;
    text-transform: uppercase;
    color: rgb(57,57,57);
    margin: 0;
    padding: 0;
}

.screen_cardsWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 10px;
}

.screen_card {
    width: 32%;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 20px;
}

.card_mainWrapper {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 10px;
}

.card_imageWrapper {
    width: 90%;
    max-height: 220px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #393939;
}

.card_image {
    height: 100%;
    width: 110%;
    object-fit: cover;
    object-position: 0px top;
}

.card_title {
    font-family: 'Neue_machina';
    font-size: 46px;
    line-height: 46px;
    font-weight: 800;
    color: rgb(57,57,57);
    margin: 0;
    padding: 0;
}

.card_text {
    max-width: 100%;
    font-family: 'Neue_machina';
    font-size: 18px;
    line-height: 20px;
    color: black;
    margin: 0;
    padding: 0;
}



@media (max-width: 1020px) {
    .screen_title {
        font-size: 34px;
        line-height: 36px;
    }

    
    .card_title {
        font-size: 34px;
    }

    .card_text {
        font-size: 16px;
        line-height: 18px;
    }

}

@media (max-width: 720px) {
    .screen_cardsWrapper {
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
    
    .screen_card {
        width: calc(50% - 10px);
    }
}

@media (max-width: 500px) {
    .screen {
        margin: 100px 0 0 0;
    }
    .screen_cardsWrapper {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .screen_card {
        width: 100%;
        border-radius: 10px;
    }

    .screen_title {
        font-size: 26px;
        line-height: 28px;
    }

    
    .card_title {
        font-size: 26px;
    }

    .card_text {
        font-size: 14px;
        line-height: 16px;
    }

    .card_imageWrapper {
        width: 90%;
        border-radius: 10px;
    }

    .card_image {
        width: 100%;
    }

    .card_mainWrapper {
        justify-content: space-between;
    }
}

@media (max-width: 390px) {
    .screen_title {
        font-size: 25px;
        line-height: 27px;
        max-width: 100%;;
    }

}