.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 1310px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
  }

.filters {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin: 50px 0 0 0;
    padding: 5px 0;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1310px;
}

.filters_wrapper {
    display: flex;
    gap: 20px;
}

.filters_select {
    width: 150px;
}

.filters_submitButton {
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Neue_machina';
    font-size: 12px;
    line-height: 12px;
    font-weight: 800;
    color: black;
    text-transform: uppercase;
    background-color: transparent;
    padding: 6px 10px;
    cursor: pointer;
}

.filters_submitButton:hover {
    background-color: rgb(153,255,0);
    border-color: rgb(153,255,0);
}


@media (max-width: 900px) {
    .filters {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .filters_wrapper {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}