.blogPage {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__title {
        margin: 30px 0 0 0;
        padding: 0;
        font-family: 'DrukTextWideCyr-Medium';
        font-size: 48px;
        line-height: 1em;
        text-transform: uppercase;

        @media (max-width: 720px) {
            font-size: 34px;
        }
        @media (max-width: 500px) {
            font-size: 26px;
        }
    }

    &__title-wrapper {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 500px) {
            padding: 0
        }
    }

    &__posts {
        margin-top: 20px;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        align-content: stretch;
        gap: 20px;

        @media (max-width: 1000px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 800px) {
            gap: 10px;
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 500px) {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }

    &__card {
        width: 100%;
        box-sizing: border-box;
        text-decoration: none;
        color: black
    }

    &__card-wrapper {
        display: grid;
        grid-template-columns: 393px 1fr;
        gap: 20px;
        align-items: flex-start;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 20px;
        border: 1px solid black;
        padding: 20px;

        @media (max-width: 500px) {
            border-radius: 10px;
        }
    }

    &__card-image-wrapper {
        width: 100%;
        padding-bottom: 100%;
        position: relative
    }

    &__card-cover-container {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        overflow: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &__card-cover {
        object-fit: cover;
        width: 100%;
        border-radius: 20px;
        height: 178px;
    }

    &__card-title-wrapper {
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__card-subtext {
        display: flex;
        gap: 20px;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        align-items: center;
    }
    &__card-title {
        margin: 30px 0 0 0;
        font-family: 'DrukTextWideCyr-Medium';
        font-size: 18px;
        padding: 0;
        text-transform: uppercase;
        line-height: 1em;

        @media (max-width: 720px) {
            font-size: 16px;
        }
        @media (max-width: 500px) {
            font-size: 14px;
        }
    }
    &__card-txt{
        margin: 16px 0 0 0;
        font-family: 'Neue_machina';
        font-size: 18px;
        font-weight: 400;
        line-height: 1em;
    }

    &__hashtags-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 4px;
    }

    &__card-tag-list{
        display: flex;
        flex-wrap: wrap;
    }
    &__card-tag{
        font-size: 14px;
        font-family: 'Neue_machina';
        font-weight: 800;
        border: 1px solid black;
        border-radius: 5px;
        background: white;
        color: black;
        padding: 4px 12px;
        text-transform: uppercase;
        line-height: 1em;
    }
    &__card-more{
        margin: 30px auto 0 0;
        width: 66px;
        height: 22px;
        background-color: rgb(153, 255, 0);
        border-radius: 5px;
        border: 1px solid rgb(153, 255, 0);
        cursor: pointer;
    }
}
.articles-tag-list{
    margin: 30px 0 0 0;
    display: flex;
    gap: 12px;
}
.article-tag{
    font-size: 18px;
    line-height: 1em;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 5px;
    background: white;
    padding: 8px 12px;
    font-family: 'Neue_machina';
    font-weight: 800;
    cursor: pointer;
}
.article-tag.active{
    background: #99FF00;
    border-color: #99FF00;
}