@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}




.loader {
    display: none;
}

.loader_active {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    width: 26px;
    height: 26px;
    box-sizing: border-box;
    background-image: linear-gradient(rgb(153,255,0), white);
    border-radius: 50%;
    animation: rotation 1s linear infinite;
}

.loader_icon {
    width: 18px;
    height: 18px;    
    border-radius: 50%;
    background-color: white;
}

.loader_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.input_container {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.printInfo {
    max-width: 500px;
    color: black;
    font-family: 'Neue_machina';
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    margin: 0;
    padding:0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.input_form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.printInfo_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}

.file_input {
    display: none;
    background-color: #00FF00;
    width: 100%;
    height: 100%;
}

.input_wrapper {
    width: calc(50% - 4px);
    min-width: calc(50% - 4px);
    height: 100%;
    position: relative;
    margin: 0;
    text-align: center;
    cursor: pointer;
}

.file_input_button_text {
    /* max-width: 230px; */
    height: auto;
    color: black;
    font-family: 'Neue_machina';
    font-size: 14px;
    line-height: 14px;
    font-weight: 800;
    margin: 0;
    padding:0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.file_input_button {
    min-width: 141px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 6px 10px;
    margin: 0 auto;
}

.file_input_button:hover {
    background: rgb(153,255,0);
    border-color: rgb(153,255,0);
}

.print_delete_button {
    width: 26px;
    height: 26px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px #000000 solid;
    border-radius: 5px;
    cursor: pointer;
    padding: 0;
    margin: 0 auto;
    color: #000000;
    font-family: 'Neue_machina';
    font-weight: 800;
    font-size: 14px;
    line-height: 14px;
}

.print_delete_button:hover {
    background-color: black;
    color: white;
}

.submit_button {
    width: 100%;
    max-width: 60px;
    height: 60px;
    border: none;
    border-radius: 15px;
    background-color: rgb(0, 255, 0);
    cursor: pointer;
    line-height: 16.4px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    margin: 0 0 0 5px;
    padding: 0;
}

@media (max-width: 390px) {
    .input_form {
        flex-direction: column;
        gap: 10px;
    }
    .input_wrapper {
        width: 100%;
    }
    .printDeleteButton_wrapper {
        align-self: flex-end;
    }
    .printInfo_wrapper {
        min-height: 30px;
    }
}