.brief {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 149px;
    text-align: center;
}

.brief_title {
    margin: 0 auto;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 60px;
    max-width: 80%;
    padding: 200px 20px 0 20px;
}

.brief_subtitle {
    padding: 66px 20px 0 20px;
    max-width: 760px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
}

.map {
    overflow: hidden;
}

.main_wrap {
    margin-left: 139px;
}

/*media query*/

@media (max-width: 1000px) {
    .main_heading {
        padding: 0;
        margin: 0 0 5px 0;
        font-size: 70px;
        line-height: 70px;
        max-width: 80%;
    }
}

@media (max-width: 850px) {
    .main_wrap {
        margin: 0 auto;
    }
}

@media (max-width: 650px) {
    .main_heading {
        padding: 0;
        margin: 0 0 5px 0;
        font-size: 40px;
        line-height: 40px;
        max-width: 300px;
    }

    .main_description {
        font-size: 15px;
        line-height: 15px;
        font-weight: 500;
        max-width: 300px;
    }

    .button {
        font-size: 15px;
        line-height: 15px;
        font-weight: 700;
    }

    .brief_title {
        font-size: 30px;
        line-height: 30px;
    }

    .brief_subtitle {
        font-size: 15px;
        line-height: 15px;
    }
}
