.photo_box {
    margin: 0;
    padding: 0;
    width: 60%;
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.photo_wrapper {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.photo_box::-webkit-scrollbar {
    visibility: none;
    width: 0;
    height: 0
}
  
.photo {
    margin: 0;
    padding: 0;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 1250px) {
    .photo_box {
        width: 100%;
        height: fit-content;
        max-height: 60%;
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: scroll;
    }

    .photo {
        object-fit: contain;
        height: auto;
        width: 100%;
        object-position: 0px bottom;
    }
}
  
/* @media (max-width: 720px) {
    
    .photo {
        height: auto;
        width: 100%;
        object-position: bottom;
    }  
} */
  