.wrapper {
  margin: 0 auto 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 791px;
  padding: 20px;
  position: relative;
}

.accordion_mainText {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  padding-bottom: 70px;
}

.accordion_item:last-child {
  border-bottom: 1px #00FF00 solid;
}

.accordion_title {
  border-top: 1px #00FF00 solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0em; 
  padding: 10px 0;
}

.accordion_content {
  font-size: 20px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  max-width: 77%;
}

.accordion_content.accordion_content_show {
  height: auto;
  max-height: 999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.accordion_gt{
  text-align: right;
  width: 45px;
  font-weight: 700;
  color:#00FF00;
  margin-bottom: 10px;
  margin-right: 20px;
}

.accordion_gtRight{
  width: 45px;
  margin-left: -6px;
}

.accordion_text{
  position: absolute;
  left: 100px;    
}

.accordion_contentText{
  padding-bottom: 15px;
  margin-left: 77px;
}

@media (max-width:650px){
  .accordion_title {
    font-size: 20px;
  }
  
  .accordion_content {
    font-size: 15px;
  }

  .accordion_mainText {
    font-size: 15px;
  }

  .accordion_gt{
    margin-bottom: 5px;
  }
  
  .accordion_gtRight{
    margin-left: -2px;    
  }
}

